<p id="notice"><%= notice %></p>

<p><%= current_user.inspect %></p>
<p><%= current_user.facebookauthdata.inspect %></p>

<%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
