<!DOCTYPE html>
<html>
<head>
  <title>TravelGrouperDev</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <% if current_user %>
  Welcome <%= link_to "#{current_user.name}", "/users/#{current_user.id}" %>!
  Info <%= request.env["omniauth.auth"].to_s %>
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>
</head>
<body>

<%= yield %>

</body>
</html>
